* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

header {
  align-items: center;
  background: rgb(59, 2, 133);
  background: linear-gradient(180deg, rgba(59, 2, 133, 1) 0%, rgba(105, 7, 233, 1) 100%);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 100px;
  overflow: hidden;
  top: 0;
  
  z-index: 1;
}

a {
  text-decoration: none;
  color: aliceblue;
}

.header-grid {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-item {
  text-align: center;
  font-family: 'Fredoka', sans-serif;
  font-weight: 100;
}

.logo {
  text-align: left;
  font-family: 'League Gothic', sans-serif;
  font-size: 24px;
  letter-spacing: 4px;
}

.btn-tickets {
  font-family: 'Fredoka', sans-serif;
  justify-self: center;
  width: 50%;
  text-align: center;
  align-items: right;
  background-color: rgb(125, 14, 230);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 15px;
}



/*Hero content*/
.hero-content {
  width: 100%;
  height: 10%;
  margin: 0;
  padding: 0;
}


.description-grid {
  width: 90%;
  display: grid;
  grid-template-columns: 2fr 2fr;
  column-gap: 40px;
  margin: auto;
  align-items: center;

}

#descripcion {
  font-family: 'League Gothic', sans-serif;
  font-size: 48px;
}

#descripcion_texto {
  font-family: 'Fredoka', sans-serif;
}



/*FONDO*/
.programacion {
  background: rgb(29, 29, 29);
  background: linear-gradient(90deg, rgba(29, 29, 29, 1) 0%, rgba(35, 0, 61, 1) 60%);
  padding-top: 75px;
  padding-bottom: 75px;
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-programacion {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 90%;
  font-family: 'Fredoka', sans-serif;
  text-align: center;
  color: aliceblue;
}

#divLogin{
    width: 40vh;
    height: 40vh;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
}

#divUsCon{
  display: flex;
  flex-direction: column;
  height: 10vh;
  justify-content: space-around;
}

#divForm{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h1 {
  font-family: 'League Gothic', sans-serif;
  font-size: 48px;
  margin-bottom: 15px;
  margin: 0;
  padding: 0;
  color: #ffffff;
}


h4 {
  font-family: 'Fredoka', sans-serif;
}



/*Para precios y puntos de venta*/
h3 {
  font-family: 'League Gothic', sans-serif;
  font-size: 48px;
  margin-bottom: 15px;
  margin: 0;
  padding: 0;
  color: #000000;
}

#price {
  display: flex;
  flex-direction: row;
  background-color: #F8F6E5;
}

#price>div {
  background-color: #F8F6E5;
  width: 50em;
  justify-content: center;
}

#price {
  text-align: center;
  font-size: 200px;
  font-family: "Bebas Neue", cursive;
  margin: 0;
}

.flip-container {
  background-color: transparent;
  width: 300px;
  height: 400px;
  perspective: 1000px;
  margin: auto auto;
}

.card {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
  transform-style: preserve-3d;
  transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);
}

.card h3,
card p {
  display: block;
}

.card p,
.card button {
  color: black;
}

/* Para que gire lo de precios y puntos de venta */
.flip-container:hover .card {
  transform: rotateY(180deg);
}

.frente,
.dorso {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

.frente {
  background-color: rgb(240, 248, 255);
  color: black;
  display: flex;
  font-family: 'Fredoka', sans-serif;
  font-size: 45px;
  margin: 0;
  padding: 0;
}

.dorso {
  background-color: #F8F6E5;
  color: #f9564f;
  transform: rotateY(180deg);
  text-align: center;
  display: flex;
  font-family: 'Fredoka', sans-serif;

}

#divContra{
  display: flex;
}

#span{
    text-transform: uppercase;
    cursor: pointer;
    background-color: #cccccc;
    color: #000000;
}

.dorso p {
  font-size: 0.65em;
}

.dorso button:hover {
  color: #5f127c;
  border-color: #5f127c;
  font-weight: bold;
}

UL.col3 {
  padding-right: 0px;
  padding-left: 0px;
  float: left;
  padding-bottom: 0px;
  margin: 15px 0px;
  width: 100%;
  padding-top: 0px;
  list-style-type: none;
  font-size: 20px;
}

UL.col3 LI {
  padding-right: 2px;
  display: inline;
  padding-left: 2px;
  float: left;
  padding-bottom: 2px;
  width: 30%;
  padding-top: 2px;
}

.button {
  background-color: #f9564f;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 4vh;
  width: 30vh;
}

.campo{
  width: 30vh;
  height: 2.5vh;
}


.button:hover {
  background: rgb(29, 29, 29);
  color: aliceblue;
}

/*Para patrocinadores*/
.patrocinadores {
  align-items: center;
  padding-top: 55px;
  padding-bottom: 55px;
  max-height: 30vh;
  background-color: rgb(29, 29, 29);
}

.grid-patrocinadores {
  width: 90%;
  display: grid;
  font-family: 'Fredoka', sans-serif;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 5px;
  margin: auto;
  align-content: center;
  text-align: center;
  row-gap: 30px;
}

#sponsorsTexto {
  text-align: center;
  color: white;
  margin: 0;
  padding: 0;
  font-family: 'League Gothic', sans-serif;
  font-size: 48px;
}

/*Para footer*/
footer {
  font-family: 'Fredoka', sans-serif;
  background-color: rgb(0, 0, 0);
  color: aliceblue;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

@keyframes quiet {
  25% {
    transform: scaleY(.6);
  }

  50% {
    transform: scaleY(.4);
  }

  75% {
    transform: scaleY(.8);
  }
}

@keyframes normal {
  25% {
    transform: scaleY(1.2);
  }

  50% {
    transform: scaleY(.4);
  }

  75% {
    transform: scaleY(.6);
  }
}

@keyframes loud {
  25% {
    transform: scaleY(1.2);
  }

  50% {
    transform: scaleY(.4);
  }

  75% {
    transform: scaleY(1.2);
  }
}

.boxContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: auto;
  margin-top: 50px;
  height: 64px;
  --boxSize: 8px;
  --gutter: 4px;
  width: calc((var(--boxSize) + var(--gutter)) * 5);
}

.box {
  align-self: center;
  transform: scaleY(.4);
  height: 100%;
  width: var(--boxSize);
  background: rgb(125, 14, 230);
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  border-radius: 8px;
}

.box1 {
  animation-name: quiet;
}

.box2 {
  animation-name: normal;
}

.box3 {
  animation-name: quiet;
}

.box4 {
  animation-name: loud;
}

.box5 {
  animation-name: quiet;
}